*{
  font-family: 'Montserrat';
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* Navegator*/
.page-header{

	height: 70px;
	/*background-color: bisque;*/

	display: flex;
	gap: 9.0rem;
	justify-content: center;
	align-items: center;

  padding:0 50px;
}

.logo-malandra{
	width: auto;
	height: 1.4rem;
}
.nav-links{
	display:flex;
	gap: 2.8rem;
	font-size: 11px;
}
.nav-links a:nth-child(7){
	font-weight: 700;
}
.header-actions img{
	width: 32px;
	height: 32px;
	
}

.header-actions{
	display: flex;
	gap: 1.4rem;
}
.bag-btn{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bag-wrapper {
  position: relative;
  display: flex;
}

.bag-wrapper span{
  position: absolute;
  top: -1px;
  right: -2px;

  background-color: black;
  color: rgb(255, 255, 255) !important;
  font-size: 8px !important ;
  font-weight: 500;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*Slider Part*/
.hero-slider {
	background-image:url(./assets/Malandra_img_movement.webp);
	background-size: cover;
	background-position: center	;
	height:600px;
	width: 100%;

	overflow: hidden;
	background-repeat: no-repeat	;

}
.hero-slider-track{
	background-color: black;
	height: 35px;
	display: flex;
	align-items: center;
	
	padding:0px 10px;

	overflow:hidden;

}
.slider-track{
	color:white;
	font-size:14px ;

	display: flex;
	gap:15px;
	align-items:  center;
	justify-content: center;
	
	white-space: nowrap
}

/*NEW ARRIVALS*/
.new-arrivals{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	gap:20px;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.new-arrivals a{
	color:black;
	font-size:12px;
}
.new-arrivals-header button{
	background: none;
	border:0px;
	cursor: pointer;
}
.new-arrivals-header {
	display: flex;
	gap:15px;
}
.new-arrivals-header img{
	width: auto;
	height: 20px;
}
.new-arrivals-header h3{
	font-size: 22px;
	font-weight: 400;
}

/* CARD JEWELRY NEW ARRIVALS*/
.new-arrivals-grid{
	display: grid;
	grid-template-columns: repeat(5	,1fr);
	
	
}
.product-card img {
	width: 85%;
	margin: 0 auto;
  
}
.product-card span:nth-child(1){
	background-color: black;
	height: 30px;
	width:6rem;
	
	position: absolute;
	top:9px;
	left:35px;
	
	color:white;
	font-size:12px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.shopping-cart{
	position: absolute;
  background-color: rgb(241, 231, 221);
  margin:0;
  padding: 0;
 
  display: flex;
  align-items: center;
  width:3rem;
  height: 6.3vh;

  border-top-left-radius:7px ;
  border-top-right-radius: 7px;

  cursor: pointer;
  border:0;

  bottom: 56px;
  right:23px;
}
.shopping-cart img{
  height: 28x;
  width: 28px;
}
.product-card {
	display: flex;
	gap:12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
}
.product-card p,span:last-child {
	font-size:13px;
	color:rgb(71, 69, 69);

}
.product-card span:last-child {
	font-size:13px;
	color:rgb(71, 69, 69);

}
/*OUR PIECES*/
.our-pieces{
	background-color: #f6f4f1;
	height: 26rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center	;

	gap:30px;
  
  padding-bottom:20px;
	padding-left: 35px;
	padding-right: 35px;
  
}
.our-pieces h3{
	font-size: 22px;
	font-weight: 400;
}
.our-pieces-grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap:10px;
  
}
.our-pieces-card img{
	width:95%;
	margin:0 auto;
}
.our-pieces-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap:10px;
}
.our-pieces-card h6{
	font-size:13px;
	color:rgb(71, 69, 69);
	font-weight: 400;
}

/*Carrusel Card*/
.scene {
  position: relative;
  width: 100%;
  height: 520px;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  
  width: 400px;
  height: 380px;
  border-radius: 16px;
  overflow: hidden;

  cursor: pointer;
  transition: transform 0.45s ease, opacity 0.45s ease;
  
}
.card p{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 16px;
  background: linear-gradient(transparent, rgba(0,0,0,0.6));
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.card-center {
  transform: translateX(0) scale(1) rotateY(0deg);
  opacity: 1;
  z-index: 5;
}

.card-left {
  transform: translateX(-300px) scale(0.9) rotateY(22deg);
  
  z-index: 4;
}

.card-right {
  transform: translateX(300px) scale(0.9) rotateY(-22deg);
 
  z-index: 4;
}

.card-far-left {
  transform: translateX(-580px) scale(0.8) rotateY(35deg);
  
  z-index: 3;
}

.card-far-right {
  transform: translateX(580px) scale(0.8) rotateY(-35deg);
 
  z-index: 3;
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border:none;
  background: rgb(194, 165, 108);
  cursor: pointer;
  z-index: 10;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); ;
  
}


.btn-prev { left: 12px; }
.btn-next { right: 12px; }

/*hero infinite luck*/
.hero-infinite-luck img{
  width: 99.04rem;

}

/*PLATA .925*/
.badge-plata-925 span:nth-child(1){
  background-color: rgb(241, 231, 221);
  height: 30px;
	width:5rem;
	
	position: absolute;
	top:23px;
	left:35px;
	
	
	font-size:12px;

	display: flex;
	justify-content: center;
	align-items: center;

  color:black;
  
}
.badge-plata-925 span:nth-child(2){
  background-color: rgb(0, 0, 0);
  height: 30px;
	width:6.5rem;
	
	position: absolute;
	top:60px;
	left:35px;
	
	color:white;
	font-size:12px;

	display: flex;
	justify-content: center;
	align-items: center;

  color:rgb(255, 255, 255);
  
}

/*FOOTER WRAPPER*/

.footer-wrapper{
	background-color: #f6f4f1;
  height: 100vh;
}
.benefits-bar{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  
  padding-top:4rem;
  padding-bottom:4rem;

  border-bottom: 1px solid #e2caaf;
}
.bar-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.bar-information img{
  width:12%;
  padding-bottom: 8px;
}
.bar-information span:nth-of-type(1){
  font-size: 13px;
 
}
.bar-information span:nth-of-type(2){
  font-size: 10px;
  font-weight: 500;
}
/*Footer Main*/
.footer-main{
  display: grid;
  grid-template-columns: 2fr repeat(3,1fr); 
  padding: 4rem 70px;
  gap:40px;

  border-bottom: 1px solid #e2caaf;
}
.footer-address{
  display: flex;
  flex-direction: column;
  gap:40px;

  max-width: 450px;
}
.footer-address img{
  width: 40%;
  padding-left:12px;
}
.footer-address p{
  font-size: 14px;
  color:rgb(92, 91, 91);
}
.footer-contact{
  display: flex;
  flex-direction: column;
  gap:8px;
}
.footer-contact span{
  font-size:15px;
  font-weight: 700;
  color:rgb(63, 63, 63);
}
.footer-contact a{
  font-size:14px;
  color:rgb(92, 91, 91);
  text-decoration-color: rgb(170, 169, 169);
}
.footer-sitemap {
  display: flex;
  flex-direction: column;
  gap:15px;
}
.footer-sitemap h3,
.footer-red-social h3{
  font-size:16px;
  font-weight: 600;
  color:rgb(63, 63, 63);
}
.footer-sitemap a{ 
  text-decoration: none;
  color:rgb(92, 91, 91);
  font-size:14px;
}

.footer-red-social a{
 
  text-decoration: none;
}

.footer-social-icons img{
  width:18px;
  margin:0;
  padding:0;
  transition: transform 0.2s ease; 
}
.footer-social-icons a:hover img {
  transform: translateY(-4px);
}
.footer-red-social{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.footer-social-icons{
 display: flex;
 gap:10px;
}
/*Footer Bottom*/
.footer-bottom{
  display: grid;
  grid-template-columns: 1fr 4fr; 

  padding: 3rem 70px;
  gap:20px;

}
.footer-bottom p{
  font-size:11px;
  color:rgb(92, 91, 91);
 
}
.footer-bottom-left a:nth-of-type(1){
  text-decoration: none;
  color:rgb(92, 91, 91);
  
}
.footer-bottom-left a:nth-of-type(2){
  text-decoration: none;
  color:rgb(92, 91, 91);
} 
.footer-legal a{
  text-decoration: none;
  color:rgb(92, 91, 91);
  font-size:11px;
  
}
.footer-legal{
  display: flex;
  gap:10px;
  padding-top: 50px ;
}